.input {
  background-color: #242424;
  width: auto;
  border: none;
  color: white;
  width: 100%;
  padding-bottom: 16px;
  border-bottom: 1px solid white;
}

.input:focus {
  outline: none;
}

.inputError {
  border-bottom: 1px solid #ff6f5b;
}

.errorText {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.17px;
  color: #ff6f5b;
}
