.button {
  background-color: transparent;
  border: none;
  color: white;
  border-bottom: 2px solid #4ee1a0;
  padding-bottom: 10px;
  letter-spacing: 2.29px;
  cursor: pointer;
}

.button:hover {
  color: #4ee1a0;
}
