.skillsList {
  gap: 24px;
}

.skillName {
  margin-bottom: 1px;
}

.container {
  text-align: center;
  gap: 40px;
}

.dividerTop,
.dividerBottom {
  width: 100%;
  border: none;
  border-top: 1px solid white;
}
