form {
  width: 100%;
}

.container {
  gap: 50px;
  padding-top: 60px;
  padding-bottom: 87px;
}

.innerContainer {
  text-align: center;
  gap: 20px;
}

.buttonContainer {
  text-align: right;
}

.formContainer {
  align-items: stretch;
  gap: 32px;
}

.textarea:focus {
  outline: none;
}

.textarea {
  background-color: #242424;
  border: none;
  resize: none;
  height: 106px;
  width: 100%;
  border-bottom: 1px solid white;
}
