/* .container {
  background-color: #242424;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0 15px;
}

.innerContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.buttonContainer {
  text-align: right;
}

.contact {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1.14px;
}

.contactParagraph {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  color: #d9d9d9;
} */

.input {
  background-color: #242424;
  width: auto;
  border: none;
  resize: none;
  color: white;
}

.input:focus {
  outline: none;
}

.textarea {
  height: 106px;
}

.button {
  background-color: #242424;
  border: none;
  color: white;
}
