.container {
  gap: 20px;
}

.name {
  text-decoration: none;
  color: white;
}

.name:hover {
  color: #4ee1a0;
}

.icon:hover > svg > path {
  fill: #4ee1a0;
}

.navList {
  display: flex;
  gap: 26px;
}
