/* Fonts */
@font-face {
  font-family: "IMBPlexSansCondensed";
  src: local("IMBPlexSansCondensed-Regular"),
    url("./assets/fonts/IBMPlexSansCondensed-Regular.ttf");
}

body {
  background-color: #222831;
  color: #eeeeee;
  font-family: "IMBPlexSansCondensed";
  margin: 0;
}
